.cardEvent {
    background-color: #CECECE; /* Usar un color más claro para background */
    color: #080808; /* Usar un color más oscuro para el texto */
    width: 25rem;
    padding: 1rem;
    border: 1px solid #000; /* Agregar un estilo de borde sólido y definir un color */
    border-radius: 15px; /* Quitar el segundo punto y coma innecesario */
    margin: 20px auto 0; /* Simplificar las propiedades de margin */
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

.event_img {
    margin-bottom: 1.5rem;
    width: 100%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
    display: block; /* Asegurar que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centrar horizontalmente la imagen */
}

/* Estilo base del botón */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
  }
  
  /* Cambiar el color de fondo al pasar el mouse por encima */
  .button:hover {
    background-color: #2980b9;
  }
  
  /* Agregar un efecto de sombra */
  .button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo adicional para un botón secundario */
  .secondary-button {
    background-color: #e74c3c;
  }
  
  .secondary-button:hover {
    background-color: #c0392b;
  }
  