
.event_img {
    margin-bottom: 1.5rem;
    width: 80%; /* Hacer que la imagen ocupe todo el ancho del contenedor */
    display: block; /* Asegurar que la imagen sea un elemento de bloque */
    margin: 0 auto; /* Centrar horizontalmente la imagen */
}

/* Estilo base del botón */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
  }
  
  /* Cambiar el color de fondo al pasar el mouse por encima */
  .button:hover {
    background-color: #2980b9;
  }
  
  /* Agregar un efecto de sombra */
  .button {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  /* Estilo adicional para un botón secundario */
  .secondary-button {
    background-color: #e74c3c;
  }
  
  .secondary-button:hover {
    background-color: #c0392b;
  }
  